/* Clone Style */

@font-face {
    font-family: 'DIN Demi Lookalike', sans-serif;
    src: url('fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('tff'),
         url('fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf') format('tff'),
         url('fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf')format('tff'),
         url('fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf')format('tff'),
         url('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf')format('tff'),
}


@keyrframes spinner {
    from {
        transform: rotate(-7deg)
    }
    to {
        transform: rotate(352deg)
    }
}

*, *:before, *:after{
 box-sizing: border-box;

}

hr {
    height: 2px;
background: #000000;
border: none;
margin-top: 5px;
margin-bottom: 5px;
width: 100vw;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

.thick_hr {
    height: 3px;
    width: 90vw;
}

body {
    font-size: 14px;
    font-family: 'DIN Demi Lookalike',sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
   
}

p {
    letter-spacing: 1px;
}

button {
    background-color:#000;
    color: white;
    padding: 0.75rem;
    border: 1px solid #000;
    border-radius: 1px;
    text-transform: Uppercase;
}

/* button:after {
    content: "\f054";
} */


header {
    background-color: black;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    color: white;
    padding: 1.0625rem 1.8rem;
    height: 5rem;
    
}
header a {
    text-decoration: none;
}
header a:visited {
    color: white;
}


/* Header Row One */

.hdr_row_one {
    width: 100%;
    font-size: .90rem;
    display: flex;
    justify-content: space-between;
}

/*  Triumph Logo */
.hdr_row_one figure.colone_tm_logo {
 width: 20%;
}

/*  Top Navigation */

.coltwo_lks_shp_add_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
.top_nav {
    display: flex;
    justify-content: flex-start;

}
.top_nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 1rem;
}

.top_nav ul li {
    margin-right: 1rem;
}

.nav_shop figure {
    width: 20%;
    margin-right: 1rem;
}


.pin_icon {
    height: 1.4rem;
    width: auto;
    margin-right: .5rem;
    }

/* Main Navigation */
/* .hdr_row_two {

} */
.main_nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 42%;
    margin-top: 0.6rem;
}

.main_nav ul li {
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
   
}



/* ======== Hero ======= */
section.hero_cta {
    width: 100%;
}
.hero_cta {
    background-color: #2a2a2a;
    border: 1px solid gray;
}


.hero_cta ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 40px;
    line-height: 15px;
    font-weight: 200;
    height: 81px;
    margin-top: 0;
}

.hero_cta ul li {
    width: 33.33%;
    text-align: center;
    
}

.hero_cta ul li a {
    padding: 0 0.625rem;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

}

.centre_cta {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.hero_cta ul li a:hover {
    color: rgb(255, 255, 255);
    transition: all ease-in 200ms 20ms;
}

.hero_cta ul li a img {
    margin-right: 0.7rem;
}

.cta_icon {
    height: 2.3rem;
}

/* .cta_icon img {} */

.hero_cta a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.hero figure {
    width: 100vw;
    height: 596px;
    overflow: hidden;

}

.hero figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero_text {
    color: white;
    position: absolute;
    top: 52%;
    left: 20%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    width: 40%;
    margin-left: 2rem;
}

.hero_text h2 {
    font-size: 2.3rem;
    /* font-weight: bold; */
    line-height: 1.2;
}

.hero_text p {
    width: 75%;
    font-size: 1.1rem;
    margin: 1rem 0rem;
}

.hero_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 300;
    height: 15vh;
    margin-top: 1rem;
}

.hero_buttons li {
    margin-top: 1rem;
}
.hero_btn_red {
    padding: 1rem;
    background-color: #cd192d;
    color: white;
}

.hero_btn_black {
    padding: 1rem;
    background-color: black;
    color: white;
}

.hero_btn_red:hover,
.hero_btn_black:hover {
 opacity: 0.6;
 transition: ease 700ms 30ms;
}




/* Start main */

main {
    width: 90vw;
   
}




/* -------- Featured Motorcycles  ------- */
.featured_motos {
  width: 93vw;
  margin: 4rem auto;
}

.featured_motos h3 {
    text-transform: uppercase; 
    font-size: 1.2rem;
    margin: 4rem;
    font-weight: bolder;
    text-align: center;

}


/*--- Featured Motorcycles - Owl Carousel ---*/

.item h3 {
    font-weight: 700;
    font-size: 0.75rem;
    margin: 0;
    text-transform: uppercase;
}

.item p {
    font-weight: lighter;
    font-size: 0.65rem;
    text-align: center;
}

.owl-carousel .owl-item img {
    display: block;
    width: 83% !important;
    margin: 0 auto;
}

.owl-prev {
    position: absolute;
    top: 0%;
    left: 2%;
    background-color: #cd192d;
    height: 50px;
    width: 50px;
    border-radius: 50%;
   
}

.owl-next{
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #cd192d;
    height: 50px;
    width: 50px;
    border-radius: 50%;
 
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
    cursor: grab;
}


.fa-arrow-right {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    top: 30%;
    left: 30%;
}


.fa-arrow-left {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    top: 30%;
    left: 30%;
}




/*========= Featured News =======*/
.featured_news {
    width: 94vw;
    margin: 0 auto;
}
.feature_news_wrap {
    display: flex;
    justify-content: space-between;
    width: 94vw;
    margin: 0 auto;
}

.featured_news_text {
    width: 34%;
    padding: 4rem;
}

.featured_news_text p {
    margin-bottom: 2rem;
    font-size: 14px;
}

.feature_news_img_wrap { 
    width: 60%;
    height: 500px;
    overflow: hidden;
}

.feature_news_img img {
    width: 100%;
    height: auto;
    display: block; 
}

.featured_news h3 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    animation: spinner 2s;
}


.featured_button {
    font-size: 1.2em;
    padding: 1.6rem;
    border-radius: 1px
;
}



/*================ News Grid ===============*/

.news_grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 94vw;
    margin: 2rem 2rem;
    /* border: 2px solid black; */
} 


.news_grid article {
  width: 46%;
  margin-bottom: 5rem;
}


.news_grid article a figure {
    width: 100%;
    height: 360px;
    overflow: hidden;
}
 
.news_img {
    width: 100%;
    height: auto;
    display: block;
} 


.news_grid h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 1.3rem 0;
} 

.news_grid p {
    margin-bottom: 1rem;
}

.news_grid button {
    padding: 1.3rem;
    font-size: 1.1em;
}

.news_grid_row2 {
    margin-bottom: 1rem;
}

/* ======= Footer ===========*/

/* Accordian Links */
.accordian_wrap {
    width: 58vw;

}
  .accordian_links  {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
   
  }
  .accordian_col {
    text-align: right;
  }

  .adjust {
      margin-left: 1rem;
  }


  /*----- Footer Links Row 2 to 4 --- */

.footer_links {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.footer_col {
    width: 24%;
    font-weight: 400;
    color: #63656A;
    letter-spacing: .03125rem;
    line-height: 2.25rem;
    text-transform: uppercase;
}


/*====== Social Links ========= */

footer {
    width: 90vw;
    margin: 1rem auto;
}

.footer_row3_social {
    margin: 2rem 0 1rem;
}
.social_wrap {
    display: flex;
    justify-content: space-between;
    width: 17%;
    font-size: 1.2rem;
}

/* Social Colours */

.fa-twitter {
    color: #1da1f2;
}
.fa-instagram {
 color: #c32aa3;
}

.fa-facebook-square{
    color: #1877f2;
}

.fa-youtube {
    color: #ff0000;
}



/*=== Corporate Links ===*/

.footer_corp_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: lighter;
}

.corp_links_wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 70%;
    
}

.corp_link {
     margin-right: 2rem;
    
    
}
 
