@font-face {
    font-family: 'DIN Demi Lookalike', sans-serif;
    src: url('fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('tff'),
         url('fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf') format('tff'),
         url('fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf')format('tff'),
         url('fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf')format('tff'),
         url('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf')format('tff'),
}


*, *:before, *:after{
 box-sizing: border-box;

}



body {
    font-size: 14px;
    font-family: 'DIN Demi Lookalike',sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
   
}

p {
    letter-spacing: 1px;
}

button {
    background-color:#000;
    color: white;
    padding: 0.75rem;
    border: 1px solid #000;
    border-radius: 1px;
    text-transform: Uppercase;
}

button:after {
    content: "\f054";
}


header {
    background-color: black;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    color: white;
    padding: 1.0625rem 1.8rem;
    height: 5rem;
    
}
header a {
    text-decoration: none;
}
header a:visited {
    color: white;
}


/* Header Row One */

.hdr_row_one {
    width: 100%;
    font-size: .90rem;
    display: flex;
    justify-content: space-between;
}

/*  Triumph Logo */
.hdr_row_one figure.colone_tm_logo {
 width: 20%;
}

/*  Top Navigation */

.coltwo_lks_shp_add_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
.top_nav {
    display: flex;
    justify-content: flex-start;

}
.top_nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 1rem;
}

.top_nav ul li {
    margin-right: 1rem;
}

.nav_shop figure {
    width: 20%;
    margin-right: 1rem;
}


.pin_icon {
    height: 1.4rem;
    width: auto;
    margin-right: .5rem;
    }

/* Main Navigation */
.hdr_row_two {

}
.main_nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 42%;
    margin-top: 0.6rem;
}

.main_nav ul li {
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
   
}



/* --- Hero --  */
section.hero_cta {
    width: 100%;
}
.hero_cta {
    background-color: #2a2a2a;
    
}


.hero_cta ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 40px;
    line-height: 15px;
    font-weight: 200;
    height: 81px;
    margin-top: 0;
}

.hero_cta ul li {
    width: 33.33%;
    text-align: center;
    
}

.hero_cta ul li a {
    padding: 0 0.625rem;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero_cta ul li a:hover {
    color: rgb(255, 255, 255);
    transition: all ease-in 200ms 20ms;
}

.hero_cta ul li a img {
    margin-right: 0.7rem;
}

.cta_icon {
    height: 2.3rem;
}

.cta_icon img {}

.hero_cta a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.hero figure {
    width: 100vw;
    height: 596px;
    overflow: hidden;

}

.hero figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero_text {
    color: white;
    position: absolute;
    top: 52%;
    left: 20%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    width: 40%;
    margin-left: 2rem;
}

.hero_text h2 {
    font-size: 2.3rem;
    /* font-weight: bold; */
    line-height: 1.2;
}

.hero_text p {
    width: 75%;
    font-size: 1.1rem;
    margin: 1rem 0rem;
}

.hero_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 300;
    height: 15vh;
    margin-top: 1rem;
}

.hero_buttons li {
    margin-top: 1rem;
}
.hero_btn_red {
    padding: 1rem;
    background-color: #cd192d;
    color: white;
}

.hero_btn_black {
    padding: 1rem;
    background-color: black;
    color: white;
}


/* Start main */

main {
    width: 90vw;
   
}




/* --------  ------- */
/* .featured_motos {
  width: 98vw;
  display: flex;
  justify-content: center;
  
} */

.featured_motos h3 {
    text-transform: uppercase; 
    font-size: 1.2rem;
   
}


/*========= Featured News =======*/
.featured_news {
    width: 98vw;
    margin: 0 auto;
}
.feature_news_text_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.featured_news_text {
    width: 32%;
    padding: 4rem;
}

.featured_news_text p {
    margin-bottom: 2rem;
    font-size: 14px;
}

.feature_news_img_wrap { 
    width: 60%;
    height: 500px;
    overflow: hidden;
}

.feature_news_img img {
    width: 100%;
    height: auto;
    display: block; 
}

.featured_news h3 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}




/*================ News Grid ===============*/

.news_grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 98vw;
    margin: 2rem auto;
} 


.news_grid article {
  width: 46%;
}


.news_grid article a figure {
        width: 100%;
        min-height: 380px;
        overflow: hidden;
}
 
.news_img {
    width: 100%;
    max-height: 380px;
    display: block;
} 


.news_grid h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
} 





  .accordian_links nav ul {
    display: flex;
     justify-content: space-between;
     width: 100%;
  }




  /* #owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  } */